<a href="https://colab.research.google.com/github/enguyen013/lab2b/blob/main/Copy_of_Python_literals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python literals

## Objective
1. Understand how Python uses literals.
2. Differentiate Integer, Float, Boolean and String data types.
3. Understanding how arithmetic operations are performed and recognizing the precedence of operators.

## Prerequisite

- Python & literals lecture

## What do you need to complete this exercise?

You can perform this exercise in any Python IDE, including JupyterLab or Google Colab.

### Literals

a) What will the output be without using Python? Aim for 80% accuracy.

```print(5 + 2 - 2)```
5+2-2=5

```print(5 / 2)```
5/2=2.5

```print(6 // 2) # // integer division```
6//2=3

```print(2. * 3)```
2.*3=6
```print(2 < 4)```
2<4 is True

```print(2 >= 2)```
2>=2 is True
```print("Hello"+"World")```
HelloWorld
```print("bla" * 3)```
blablabla
```print(2 * 3 ** 3)```
2*3**3=54
```print(5 * 25 // 13 + 100 / 2 % 13 // 2)```
5 * 25 // 13 + 100 / 2 % 13 // 2 =14
```print(2 * 3 % 5)```
2 * 3 % 5=1
```print((2 % -4), (2 % 4), (2 ** 3 ** 2))```
2 % -4, 2 % 4, 2 ** 3 ** 2=-2 2 512

b) Please verify using Python to determine if you have achieved at least 80% correct answers.

In [ ]:
print(5+2-2)  #5
print(5/2)      # 2.5
print(6//2)     #3
print(2. *3)    #6.0
print(2<4)      #True
print(2>=2)     #True
print("Hello"+"World")  #HelloWorld
print("bla"*3)  #blablabla
print(2*3**3)   #54
print(5*25//13+100/2%13//2)  #14.0
print(2*3%5)    #1
print((2%-4),(2%4),(2**3**2))  #-2 2 512

5
2.5
3
6.0
True
True
HelloWorld
blablabla
54
14.0
1
-2 2 512

### Data type

a) What will the output be without using Python? Aim for 80% accuracy.
```type("Hello")```
<class 'str">
```type(1+"2")```
typeerroe
```type(1.)```
<class 'float'>
```type('A')```
<class 'str'>
```type(500)```
<class 'int>
```type(True)```
<class 'bool>
```type("False")```
<class 'str'>

Answer here

b) Please verify using Python to determine if you have achieved at least 80% correct answers.

In [ ]:
type("Hello") #<class 'str'.

type(1+"2")  #TypeError: unsupported operand type(s) for +: 'int' and 'str'

type(1.)  #<class 'Flaot'>

type('A') #<class 'str'>

type(500) #<class 'int'>

type(True) #<class 'bool'>

type("False") #class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Operator precedence

a) Write your arithmetic expression that uses at least one operator from each group. For example ```5 * 25 % 13 + 100 / -2 * 13 // 2 ** 3```

In [ ]:
type((5+2)*2**3//4-6 % 2/1)

float

b) What will the output be without using Python after writing your arithmetic expression? Use the table below for your reference.

| Priority | Operator                                                     | Notes                    |
| :------- | :----------------------------------------------------------- | :----------------------- |
| 1        | `**`                                                         | Right to left evaluation |
| 2        | `+`, `-` (note: unary operators located next to the right of the power operator bind more strongly) | unary                    |
| 3        | `*`, `/`, `//`, `%`                                          | Left to right evaluation |
| 4        | `+`, `-`                                                     | binary                   |

Answer here

c) Please verify using Python to determine if you have done it correctly.

In [ ]:
type((5+2)*2**3//4-6%2/1) #class 'flaot'>

float

## Challenges

Please describe the challenges you faced during the exercise.

In the expression type(1 + "2"), Python would raise a TypeError because you're trying to add an integer (1) and a string ("2"), which isn't allowed without explicit type conversion. This required me to anticipate and mention the error instead of just describing the output.